docs/build/
.vscode/
__pycache__
**/*.pyc
/src/dashboard/frontend/node_modules
*.avi
perception-yolov8/
models/
venv
lane-detection
src/dashboard/frontend/.angular/cache/*
src/dashboard/frontend/src/app/webSocket/*
temp/*
logs/*.csv